
.navbar {
    .nav {
        &-item {
            height: 100%;
            @include pad-x(10px);
            border-right: 1px solid #2b313b;
            &:first-child {
                border-left: 1px solid #2b313b;
            }

            @include onHover(){
                background-color: #11141a;
            }
        }
        &-link{
            color: white !important;   

            @include pad-y(1rem);
            @include pad-x(0.5rem);

        }
    }
}