.posts {

    .card {

        .card-decoration {
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            height: 10px;
            position: absolute;
            bottom: -4px;
            left: 1%;
            width: 98%;
            background-color: white;
            z-index: -1;

            &:last-child{
                bottom: -7px;
                width: 96%;
                left: 2%;
                z-index: -2;
            }
        }
    }
}