

.banner{
    position: relative;
    overflow: hidden;
    @include pad-y(5rem);
    color: white;
    @include desktop (){
        color: $darkColor;
    }

    &-title{
        font-weight: 700;
    }
    &-content{
        @include desktop (){
            @include pad-x(17rem);
        }
    }

    .blur {
        background-image: url('../img/son-kol.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(5px);
        z-index: -1;
        transform: scale(1.1);
    }
}

.bg-dark {
    background-color: $darkColor;
}

.btn {
    @include pad-y(10px);
    @include pad-x(30px);
    
    
    &-success {
        @include btn-initial($successColor);
    }
    &-primary {
        @include btn-initial($primaryColor);
    }
}

a {
    color: $darkColor;
    @include onHover(){
        color: $grayColor;
        text-decoration: none;
    }
}

.nav-scroller {
    .nav {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}

.form-control {
    border-radius: 0;

    &:active, &:focus {
        box-shadow: none;
    }
}